<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPX Data Detail</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js"></script>
    <!-- Include Leaflet.GPX plugin -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
    <style>
        #map { height: 600px; }
    </style>
</head>
<body>
    <h1>GPX Data Detail - {{ gpx_data.id }}</h1>
    <div id="map"></div>

    <script>
        var map = L.map('map').setView([41.1579, -8.6291], 14);
        map.getPane('tilePane').style.opacity = 0.4;

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
            maxZoom: 19,
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        async function fetchGpx() {
            try {
                const response = await fetch('/map/gpx_data/{{ gpx_data.id }}/file/');
                const gpx = await response.text();

                new L.GPX(gpx, {
                    async: true
                }).on('loaded', function(e) {
                    var gpxLayer = e.target;
                    var track = gpxLayer.getLayers()[0];
                
                    track.eachLayer(function (segment) {
                        var points = segment.getLatLngs();
                        for (var i = 0; i < points.length - 1; i++) {
                            var speed = calculateSpeed(points[i], points[i + 1]);
                            var color = getColorFromSpeed(speed);
                            L.polyline([points[i], points[i + 1]], { color: color }).addTo(map);
                        }
                    });
                
                    map.fitBounds(track.getBounds());
                }).addTo(map);
                
            } catch (error) {
                console.log('Error fetching GPX data:', error);
                console.error(error);
            }
        }

        fetchGpx();

        function calculateSpeed(point1, point2) {
            var distance = point1.distanceTo(point2); // Distance in meters
            var timeDiff = (point2.meta.time - point1.meta.time) / 1000; // Time difference in seconds
            var speed = distance / timeDiff; // Speed in meters per second
            return speed;
        }

        function getColorFromSpeed(speed) {
            var speedScale = chroma.scale(['blue', 'green', 'yellow', 'orange', 'red']).domain([0, 14]);
            return speedScale(speed).hex();
        }

        map.on('layeradd', function(event) {
            // Check if the added layer is a marker layer
            if (event.layer instanceof L.Marker) {
                // Remove the marker from the map
                map.removeLayer(event.layer);
            }
        });
    </script>
</body>
</html>
