{% extends 'base.html' %}
{% block title %}
Home
{% endblock %}

{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>GPX View - Home Page</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css" integrity="sha384-1BmE4kWBq78iYhFldvKuhfTAU6auU8tT94WrHftjDbrCEXSU1oBoqyl2QvZ6jIW3" crossorigin="anonymous">
    <style>
        #map { height: 1000px;
               opacity: 1;
               width: auto;
               display: block;
               margin-left: 50px;
               margin-right: 50px;
               border-radius: 10px;
                 
            }
        a {
            color: blue;
            text-decoration: underline;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <div class="mx-auto max-w-xl text-center">
    <div id="map"></div>
    </div>
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/chroma-js/2.1.1/chroma.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/leaflet-gpx/1.4.0/gpx.min.js"></script>
    <script>
        var map = L.map('map').setView([45, 0], 5); // Set initial map view
        map.getPane('tilePane').style.opacity = 0.5;

        // OpenStreetMap
        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>'
        }).addTo(map);

        // GEOSERVER
        // var wmsLayer = L.tileLayer.wms('http://localhost:8081/geoserver/tutorial/wms', {
        //     layers: 'tutorial:basemap',
        //     format: 'image/png',
        //     transparent: true
        // }).addTo(map);

        // Fetch available layers from GeoServer
        var geoserverUrl = 'http://localhost:8081/geoserver/tutorial/wms';
        var layersEndpoint = geoserverUrl + '?service=WMS&version=1.3.0&request=GetCapabilities';

        // Function to display GPX data on the map
        function displayGpxOnMap(gpxData, id) {
            // Load GPX data and add it to the map
            new L.GPX(gpxData, {
                async: true,
                polyline_options: {
                    color: '#5577dd', // Line color
                    weight: 5 // Line weight
                },
                marker_options: {
                    startIconUrl: null, // Disable start marker
                    endIconUrl: null, // Disable end marker
                    shadowUrl: null // Disable shadow
                }
            }).on('loaded', function(e) {
                var gpxLayer = e.target;
                var track = gpxLayer.getLayers()[0];

                // Add GPX track to the map
                track.addTo(map);
                // Add click event listener to the track
                track.on('click', function() {
                    // Redirect to the respective page when clicked
                    window.location.href = `/map/gpx_data/${id}`;
                });

                // Add mouseover event listener to the track
                track.on('mouseover', function() {
                    // Change the color of the track when the mouse is over it
                    this.setStyle({
                        color: '#9499ff'
                    });
                });

                // Add mouseout event listener to the track
                track.on('mouseout', function() {
                    // Change the color of the track back to its original color when the mouse is out
                    this.setStyle({
                        color: '#5577dd'
                    });
                });
            }).addTo(map);

        }

        // Iterate over GPX data entries and display them on the map
        {% for entry in gpx_data_entries %}
            fetch(`/map/gpx_data/{{ entry.id }}/file`)
                .then(response => response.text())
                .then(gpxData => displayGpxOnMap(gpxData,{{ entry.id }}))
                .catch(error => console.error('Error fetching GPX data:', error));
        {% endfor %}

        fetch(layersEndpoint)
            .then(response => response.text())
            .then(data => {
                var parser = new DOMParser();
                var xmlDoc = parser.parseFromString(data, 'text/xml');
                var layerNames = [];
                var layers = xmlDoc.getElementsByTagName('Layer');
                for (var i = 0; i < layers.length; i++) {
                    layerNames.push(layers[i].getElementsByTagName('Name')[0].textContent);
                }
                createLayerToggles(layerNames);
            })
            .catch(error => console.error('Error fetching GeoServer layers:', error));

        function createLayerToggles(layerNames) {
            var overlayLayers = {};
            layerNames.forEach(layerName => {
                var wmsLayer = L.tileLayer.wms(geoserverUrl, {
                    layers: layerName,
                    format: 'image/png',
                    transparent: true
                });
                overlayLayers[layerName] = wmsLayer;
            });
            L.control.layers(null, overlayLayers).addTo(map);
        }

        map.on('layeradd', function(event) {
            // Check if the added layer is a marker layer
            if (event.layer instanceof L.Marker) {
                // Remove the marker from the map
                map.removeLayer(event.layer);
            }
        });
    </script>
</body>
</html>
{% endblock %}